.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
  
}

body {
  background: #6c757d;
}
.blog-img{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
